.header {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #f3f3f3;
}
.rheader ul li a {
    color: black;
}

.rheader ul li a:hover {
    color: gray;
}

.main {
    background-color: black;
    color: white;
}
#index-image {
    border-style: solid;
    background-color: gray;
}

.footer {
    background-color: gray;
    color:black;
}

#footer-links {
    color: black;
}

.options {
    color: gray;
}